<html>
  <head>
    <meta charset="utf-8">
    <meta name="copyright" content="&copy; 2024/09/08- yoya@awm.jp . All Rights Reserved.">
    <link rel="shortcut icon" href="">
    <title> openimage </title>
    <style>
      body { background-color: #EEE }
      .borderRed { border: thick solid #F62; }
      .borderGreen { border: thick solid #2D0; }
      .borderBlue { border: thick solid #4AF; }
      .borderThin { border: 2px dashed brown ; margine: 10px; backround-color:red; padding: 4px; }
      .controllerElement { vertical-align: top }
    </style>
  </head>
  <body>
    <div id="app" @dragover.prevent @drop.prevent="dropFile" style="width:100%; height:100%">
      <div id="controller" style="display: flex;">
        <div class="controllerElement borderThin"  style="display:flex-column;">          <div>
            openAlpha:
            <input type="checkbox" v-model="openAlpha" @change="onInputImage"/>
          </div>
        </div>
        <div class="controllerElement borderThin"  style="display:flex-column;">          <div>
            openImage:
            <input type="checkbox" v-model="openImage" @change="onInputImage"/>
          </div>
          <div>
            <div>
              openCount:
            </div>
            <div>
              <input type="range" v-model="openCount" @input="onInputImage" min="0" max="12"/>
              <input type="number" v-model="openCount" @input="onInputImage" min="0" max="12"/>
            </div>
            <div>
              kernelWidth:
            </div>
            <div>
              <input type="range" v-model="kernelWidth" @input="onInputImage" min="1" max="11" step="2"/>
              <input type="number" v-model="kernelWidth" @input="onInputImage" min="1" max="11" step="2"/>
            </div>
          </div>
        </div>
        <div style="padding: 0.5em;">  </div>
        <div class="controllerElement">
          <span style="vertical-align: top">
            kernel:
          </span>
          <canvas id="kernelCanvas" width="64" height="64" class="borderRed" > no canvas </canvas>
        </div>

        <div style="padding: 0.5em;">  </div>
        <div class="controllerElement borderThin"  style="display:flex-column;">
          <div>
            guideLine:
            <input type="checkbox" v-model="guideLine" @change="onInputImage"/>
          </div>
          <div>
            <div>
              guideGap;
            </div>
            <div>
              <input type="range" v-model="guideGap" @input="onInputImage" min="1" max="12"/>
              <input type="number" v-model="guideGap" @input="onInputImage" min="1" max="12"/>
            </div>
            <div>
              guideColor:
            </div>
            <div>
              <input type="color" v-model="guideColor" @change="onInputImage"/>
            </div>
          </div>
        </div>
      </div>
      <div id="container" style="display: flex;">
        <div class="borderGreen">
          <img src="" id="previewImage" style="background-color: black;"/>
        </div>
        <div id="canvasContainer" class="borderBlue" >
          <canvas id="openCanvas" width="512" height="512" style="background-color: black;"> no canvas </canvas>
        </div>
      </div>
    </div>
    <!-- script src="https://unpkg.com/vue@2"> </script -->
    <script type="module" src="./dist/vue.min.js"></script>
    <script type="module" src="./openimage.js"></script>
  </body>
</html>
